/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");

body {
    font-family: "Poppins", sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 45px 0;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.long_section {
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: "octin sports", sans-serif;
}

.heading_container h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

h1,
h2 {
    font-family: "octin sports", sans-serif;
}

/*header section*/
.header_section {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header_section .nav_container {
    margin: 0 auto;
}

.header_section.innerpage_header {
    position: relative;
    background: #3a3f58;
    padding: 10px 0;
}

.custom_nav-container {
    padding: 10px 0;
}

.custom_menu-btn {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
}

.custom_menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
    z-index: 7;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.custom_menu-btn.menu_btn-style::before {
    width: 100vh;
    height: 100vh;
    background-color: #3a3f58;
    -webkit-transform: scale(5);
    transform: scale(5);
    border-radius: 0;
}

.custom_menu-btn button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    z-index: 999;
    margin: 0;
}

.custom_menu-btn button span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 2.5px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 15px;
}

.custom_menu-btn .s-2 {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.menu_btn-style button span {
    background-color: #ffffff;
}

.menu_btn-style button .s-1 {
    -webkit-transform: rotate(45deg) translate(6px, 6px);
    transform: rotate(45deg) translate(6px, 6px);
}

.menu_btn-style button .s-2 {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

.menu_btn-style button .s-3 {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 9;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 60px;
}

.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
}

.overlay a:hover {
    color: #e45441;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 99;
}

.menu_width {
    width: 100%;
}

.menu_width.overlay a {
    opacity: 1;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand span {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

/*end header section*/

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box p {
    margin-top: 10px;
    margin-bottom: 35px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #3a3f58;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #3a3f58;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.about_section .detail-box a:hover {
    background-color: transparent;
    color: #3a3f58;
}

.contact_section {
    position: relative;
}

.contact_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact_section .form_container {
    background-color: #3a3f58;
    padding: 45px;
    margin-bottom: -90px;
    border: 5px solid #ffffff;
    color: #ffffff;
}

.contact_section .form_container .heading_container {
    margin-bottom: 30px;
}

.contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.contact_section .form_container input::-webkit-input-placeholder {
    color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
    color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
    color: #333;
}

.contact_section .form_container input::placeholder {
    color: #333;
}

.contact_section .form_container input.message-box {
    height: 120px;
}

.contact_section .form_container .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
}

.contact_section .form_container button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: #e45441;
    color: #ffffff;
    border-radius: 0px;
    border: 1px solid #e45441;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.contact_section .form_container button:hover {
    background-color: transparent;
    color: #e45441;
}

.contact_section .subscribe-box h3 {
    font-weight: 600;
    text-transform: uppercase;
}

.contact_section .subscribe-box p {
    color: #777;
}

.contact_section .subscribe-box form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contact_section .subscribe-box form input {
    background-color: #ccc;
    height: 50px;
    padding-left: 15px;
    outline: none;
    color: #ffffff;
    border: none;
    width: 100%;
    margin-bottom: 15px;
}

.contact_section .subscribe-box form input::-webkit-input-placeholder {
    color: #555;
}

.contact_section .subscribe-box form input:-ms-input-placeholder {
    color: #555;
}

.contact_section .subscribe-box form input::-ms-input-placeholder {
    color: #555;
}

.contact_section .subscribe-box form input::placeholder {
    color: #555;
}

.contact_section .subscribe-box form button {
    background-color: transparent;
    color: #3a3f58;
    text-transform: uppercase;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 45px;
    background-color: #3a3f58;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #3a3f58;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.contact_section .subscribe-box form button:hover {
    background-color: transparent;
    color: #3a3f58;
}

.info_section {
    background-color: #262939;
    color: #ffffff;
    padding: 165px 0 75px 0;
}

.info_section.innerpage_info_section {
    padding: 75px 0;
}

.info_section h4 {
    margin-bottom: 15px;
}

.info_section .info_contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.info_section .info_contact a i {
    margin-right: 5px;
    width: 25px;
}

.info_section .info_contact a:hover:hover {
    color: #e45441;
}

.info_section .social_box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
}

.info_section .social_box a:hover {
    color: #e45441;
    border-color: #e45441;
}

/*# sourceMappingURL=style.css.map */

/*service section*/
.service_section{
    border: 20px solid #3a3f58;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
.p{
    text-align: center;
    padding: 50%;
}
/*end service section*/

/*after 10th section*/
.after10th_section{
    border: 20px solid #3a3f58;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.img-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_section{
    text-align: center;

}

.p{
    text-align: center;
}
/*end after 10th section*/

/*after 12th section*/
.after12th_section{
    border: 20px solid #3a3f58;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.img-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_section{
    text-align: center;

}

.p{
    text-align: center;
}
/*end after 12th section*/

/*acc section*/
.acc {
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

/*end acc section*/

/*acc1 section*/
.acc1{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end acc1 section*/

/*bm section*/
.bm{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end bm section*/

/*business section*/
.business{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end business section*/

/*commerce section*/
.commerce {
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end commerce section*/

/*company section*/
.company{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end company section*/

/*cs section*/
.cs{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end cs section*/

/*cs1 section*/
.cs1{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end cs1 section*/

/*ds section*/
.ds{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end ds section*/

/*engineering section*/
.engineering{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end engineering section*/

/*engineering1 section*/
.engineering1{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end engineering1 section*/

/*es section*/
.es{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end es section*/

/*fd section*/
.fd{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end fd section*/

/*fs section*/
.fs{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end fs section*/

/*id section*/
.id{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end id section*/

/*journ section*/
.journ{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end journ section*/

/*marm section*/
.marm{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end marm section*/

/*mbbs section*/
.mbbs{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end mbbs section*/

/*mm section*/
.mm{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end mm section*/

/*n section*/
.n{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end n section*/

/*nursing section*/
.nursing{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end nursing section*/

/*p section*/
.p{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end p section*/

/*pharm section*/
.pharm{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end pharm section*/

/*pharmacy section*/
.pharmacy{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end pharmacy section*/

/*physio section*/
.physio{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end physio section*/

/*pilot section*/
.pilot{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end pilot section*/

/*pm section*/
.pm{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end pm section*/

/*science section*/
.science{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end science section*/

/*se section*/
.se{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end se section*/

/*software section*/
.software{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end software section*/

/*sw section*/
.sw{
    border: 20px solid #3a3f58;
    padding: 20px;
    border-bottom: 100%;
    background-color: #f5f5f5;
    border-radius: 1px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}
/*end sw section*/
